body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* object-fit not supported */
@media (min-aspect-ratio: 16/9) {
    #video-wrapper >  #video-file {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    #video-wrapper > #video-file {
        width: 300%;
        left: -100%;
    }
}

/* object-fit is supported overriding
@supports (object-fit: cover) {
  #video-wrapper > #video-file {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    object-fit: cover;
  }
} */
